*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto 50px;
    top: 50%;
    flex-direction: column;
}

.illustration_container{
    border: 1px solid rgb(32, 31, 31);
    width: 40%;
}

.register_form{
    width: 60%;
    height: 500px;
    border: 1px solid rgb(31, 5, 5);
}

.input_field{
    height: 1.4rem;
    padding: 20px 10px;
    border: 1px solid #372E2E;
    &::placeholder{
        color: #929292;
    }
}

.checkbox_terms{
    display: flex;
    justify-content: center;
}

.checkbox{
    margin-right: 5px;
    padding: 35px;
}

/* ---------- contact us page ----------*/

.container_title_img{
    width: 100%;
    height: 9.5rem;
    background-image: linear-gradient(rgba(39, 38, 38, 0.6) ) ,url('/img/cars-transportation-races.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.container_contact_form_us{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.title{
    display: grid;
    justify-items: center;
    color: #fff;
}

.title::after{
    content: '';
    content: '';
    border: 2px solid #E61722;
    width: 50%;
}

.input_field_2{
    width: 45%;
    height: 1.4rem;
    padding: 20px 10px; 
    margin: 10px 0px 10px 2%;
    border: 1px solid #372E2E;
    
    &::placeholder{
        color: #929292;
    }
}

/* form */
.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
}
.contact-msg{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 10px;
    margin-bottom: 25px;
}

.textarea_field {
    width: 100%;
}

.confirmation_button {
    padding :10px 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #E61722;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    font-weight: bold;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.5); 
      }
}


.iframe_container {
    width: 100vw;
    height: 200px;
}

.section_title{
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
}

.section_title::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
        margin-left: 25px;
    }

.contact_us_container{
    margin-left: 20px;
    flex:1;
}

.contact_us_title {
    text-transform: uppercase;
}

.icon{
    width: 20px;
    margin-right: 10px;
}

.icon_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px;
}

.icons_container{
    display: grid;
    justify-items: start;
}

/* ---------- about us --------- */

.about_us_title{
    margin-bottom: 30px;
}

.red_title{
    color: #E61722;
}

.img_txt_container{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    margin-bottom: 50px;
}

.img_container{
    width: 50%;
    overflow: hidden;
}

.txt_container{
    width: 40%;
}

.img_test{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.partners_container{
    height: 25vh;
    width: 100%;
    background-color: rgb(235, 195, 195);
}

.partners_title{
    text-transform: uppercase;
    margin: 15px 0px;
    text-align: center;
}

.partners_icons{
    display: flex;
    justify-content: space-evenly;
    
}

.partner_icon{
    border: 1px solid #000;
    width: 15vw;
    height: 20vh;
}