/* ----------- gallery ----------- */

/* --- page header start --- */
.container_title_img{
    width: 100%;
    height: 9.5rem;
    background-image:linear-gradient(to bottom,rgba(39, 38, 38, 0.6),rgba(39, 38, 38, 0.6) ) ,url('../assets/img/cars-transportation-races.jpg');
    // background-image: linear-gradient(to top,rgba(39, 38, 38, 0.6),rgba(39, 38, 38, 0.6) ) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.title{
    display: grid;
    justify-items: center;
    color: #fff;
}

.title::after{
    content: '';
    content: '';
    border: 2px solid #E61722;
    width: 50%;
}
/* --- page header end --- */



.roww {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagee {
    background: #0a0a0a;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.imagee img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
    object-fit: contain;
    height: 100%;
}

.imagee:hover img {
    opacity: 1;
}

.imagee .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.imagee .details h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}

.imagee .details h2 span {
    font-weight: 900;
}

.imagee:hover .details h2 {
    transform: translateY(-30px);
}

.imagee .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.imagee:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}

.imagee:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.more .read-more span {
    font-weight: 900;
}

.more .icon-links i {
    color: #000;
    font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
    margin-right: 20px;
}

.gallery h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 25px auto;
    background-color: #e0ac1c;
}